html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    place-content: center;
}

img {
    height: 300px;
}

.fa {
    font-size: 40px;
    width: 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.fa:hover {  
    opacity: 0.5;  
    color: rgb(68, 64, 64);
}  

.links {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.links:hover {
    opacity: 0.5;  
    color: rgb(68, 64, 64);
}


.align {
    margin: 0 auto;
max-width: 900px;
text-align: left;
}

hr {
    max-width: 900px;
}